@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans';
}

h2 {
  font-weight: normal;
}
.home {
  width: 100%;
  margin-bottom: 100px;
  height: auto;
  display: block;
  margin-left: 0;
  margin-right: 0;
  background-size: cover;
  background-position: center;
}

.navbar {
  font-family: 'Open Sans';
  font-size: 20px;
}

.nav-item {
  margin: 15px;
}

section {
  padding: 100px;
  font-family: 'Open Sans';
}

.kelly {
  width: 400px;
}

.pic {
  text-align: right;
}


.hello {
  color: white;
  background-color: #d8b0b6;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
}

.hello:hover {
  text-decoration: none;
  color: white;
  opacity: 0.91;
}

.proj {
  width: 500px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@media (min-width: 576px) {
  .kelly {
    width: 400px;
    margin-bottom: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .home {
    margin-bottom: 30px;
  }

  .proj {
    display: block;
    margin-right: auto;
    margin-left: 0px;
    width: 450px;
  }

}

@media (min-width: 768px) {
  .kelly {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .proj {
    display: block;
    margin-right: auto;
    margin-left: 0px;
    width: 500px;
  }

  .row {
    display: block;
  }
}

@media (min-width: 992px) {
  .proj {
    display: block;
    margin-right: auto;
    margin-left: 0px;
    width: 500px;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 1200px) {
  .proj {
    display: block;
    margin-right: auto;
    margin-left: 0px;
    width: 500px;
  }
}
